# =========================>
# ## APP
# =========================>
APP_NAME=skalfa_api
APP_PORT=4000
NEXT_PUBLIC_APP_KEY=""
APP_CORS_ORIGINS=
APP_CORS_METHODS=
APP_CORS_HEADERS=
APP_RATE_LIMIT=
APP_RATELIMIT_COUNTDOWN=


# =========================>
# ## DATABASE (OLTP)
# =========================>
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=db_skalfa


# =========================>
# ## DATABASE (OLAP)
# =========================>
# DA_HOST=127.0.0.1
# DA_PORT=8123
# DA_USERNAME=default
# DA_PASSWORD=password
# DA_DATABASE=da_skalfa


# =========================>
# ## REDIS
# =========================>
# REDIS_HOST=127.0.0.1
# REDIS_PORT=6379
# REDIS_PASSWORD=password
# REDIS_DB=re_skalfa


# =========================>
# ## CRONJOB
# =========================>
# CRON_INTERVAL=10000


# =========================>
# ## SOCKET
# =========================>
# SOCKET_PORT=4500
# SOCKET_CORS_ORIGINS=
# SOCKET_KEY=


# =========================>
# ## AUTH
# =========================>
# AUTH_CACHE=TRUE
# AUTH_CACHE_TTL=600


# =========================>
# ## LOGGER
# =========================>
ACCESS_LOG_DRIVER=file
# ACCESS_LOG_DIR=
# ACCESS_LOG_TABLE=
# ACCESS_LOG_QUEUE=
# ACCESS_LOG_CONCURRENCY=
# ACCESS_LOG_FLUSH=

ERROR_LOG_DRIVER=file
# ERROR_LOG_DIR=
# ERROR_LOG_TABLE=
# ERROR_LOG_QUEUE=
# ERROR_LOG_CONCURRENCY=
# ERROR_LOG_FLUSH=

ACTIVITY_LOG_DRIVER=
# ACTIVITY_LOG_DB_TABLE=
# ACTIVITY_LOG_DA_TABLE=
# ACTIVITY_LOG_QUEUE=
# ACTIVITY_LOG_CONCURRENCY=


# =========================>
# ## MAIL
# =========================>
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=