# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
bun.lock

# test
/test
/coverage

# production
/build
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# bundle
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun
*.pem
.DS_Store

# env
.env
.env.local
.env.dev
.env.production

# ide
.vscode

# storage
/storage